<ul class="list-group">

<!-- 	<li class="list-group-item">Item 1</li> -->
<!-- 	<li class="list-group-item">Item 2</li> -->
<!-- 	<li class="list-group-item">Item 3</li> -->
	
	<li *ngFor="let task of tasks" class="list-group-item">
		<div class="task-checkbox">
			<input type="checkbox"
				class="list-child"
				(change)="onTaskChange($event, task)"
				(click)="onSelect(task)"
				[checked]="task.completed"/>
				
			<span ngClass="{{task.completed ? 'name completed' : 'name'}}">{{ task.name }}</span>
			<span ngClass="label {{ getDueDateLabel(task) }} pull-right">{{ task.dueDate }}</span>
						
		</div>
	</li> 
</ul>

<div *ngIf="selectedTask">
	<h2>{{selectedTask.name | uppercase}} is Selected</h2>
	<div><span>id: </span>{{selectedTask.id}}</div>
</div>